@model string
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-white">
    <h6 class="m-0 font-weight-bold text-danger">
        <i class="fas fa-industry mr-2"></i>@Model
    </h6>
    <div class="btn-group shadow-sm">
        <button type="button" class="btn btn-outline-danger btn-sm" onclick="$('#filterPanel').slideToggle();">
            <i class="fas fa-filter fa-sm"></i> Filtrele
        </button>
        <button type="button" class="btn btn-outline-success btn-sm" id="exportExcel">
            <i class="fas fa-file-excel fa-sm"></i> Excel
        </button>
        <button type="button" class="button btn btn-outline-dark btn-sm" onclick="window.print();">
            <i class="fas fa-print fa-sm"></i> Yazdır
        </button>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#addModal">
            <i class="fas fa-plus fa-sm"></i> Yeni Ekle
        </button>
    </div>
</div>